.signInWith {
  margin-top: 0;
  display: flex;
  /* text-align: center; */
  /* align-items: center; */
  justify-content: center;
}
.com {
  border: none;
  /* border-radius: 10px; */
  background: #bcbbbb;
  display: flex;
  align-items: center;
  background-color: rgb(88, 88, 252);
  /* border: 1px solid rgb(192, 191, 191); */
}
.signInWith_Google {
  background-color: white;
  margin-right: 0;
  width: 40px;
}
.signInWith_Google_text {
  color: white;
  font-size: 20px;
  font-weight: 100;
  margin-right: 15px;
}
